<h4>Update Brand Detail</h4>
  <div mat-dialog-content>
    <mat-form-field class="x">
      <input matInput [(ngModel)]="data.title" id="title" name="title" placeholder="Title">
    </mat-form-field> <br />
    <mat-form-field class="x">
      <input matInput [(ngModel)]="data.imgUrl" id="imgUrl" name="imgUrl" placeholder="ImgUrl">
    </mat-form-field> <br />
    <mat-form-field class="x">
      <input matInput [(ngModel)]="data.price" id="price" name="price" placeholder="Price">
    </mat-form-field> <br />
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-raised-button color="warn" (click)="updateTutorial()" ><mat-icon>send</mat-icon> Edit</button>
    <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon> Cancel</button>
  </div>