.a {
    background-image:url('/assets/img/blackpink.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;  /* responsive height */
  
}

.y {
  width: 485px;
  margin-left: 520px;
  margin-top: 250px;
  opacity: 0.6;
}


