<h3>Add New Voucher Form</h3>
<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="promotionId">Promotion ID</label>
        <input
          type="number"
          class="form-control"
          id="promotionId"
          required
          [(ngModel)]="this.promotionId"
          name="promotionId"
        />
      </div>
      <div class="form-group">
        <label for="code">Voucher Code</label>
        <input
          type="text"
          class="form-control"
          id="code"
          required
          [(ngModel)]="promotion.code"
          name="code"
        />
      </div>
      <div class="form-group">
        <label for="description">Voucher Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="promotion.description"
          name="description"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="percentDiscount">Percent Discount</label>
        <input
          class="form-control"
          id="percentDiscount"
          required
          [(ngModel)]="this.percentDiscount"
          name="percentDiscount"
          type="number"
        />
      </div>
      <div class="form-group">
        <label for="minRequiredAmount">Min Amount</label>
        <input
          class="form-control"
          id="minRequiredAmount"
          required
          [(ngModel)]="this.minRequiredAmount"
          name="minRequiredAmount"
          type="number"
        />
      </div>
      <div class="form-group">
        <label for="maxDiscountAmount">Max Amount</label>
        <input
          class="form-control"
          id="maxDiscountAmount"
          required
          [(ngModel)]="this.maxDiscountAmount"
          name="maxDiscountAmount"
          type="number"
        />
      </div>
      <div class="form-group">
        <label for="quantity">Voucher Quantity</label>
        <input
          class="form-control"
          id="quantity"
          required
          [(ngModel)]="this.quantity"
          name="quantity"
          type="number"
        />
      </div>

    <button (click)="saveTutorial()" class="btn btn-success" style="margin-left: 120px;" >Submit</button>
    <button (click)="onNoClick()" class="btn btn-error" style="float: right;">Close</button>

    </div>

  </div>
</div>