<h3>Add New Brand Form</h3>
<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="name">Brand Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tutorial.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="description">Brand Address</label>
        <input
          class="form-control"
          id="address"
          required
          [(ngModel)]="tutorial.address"
          name="address"
        />
      </div>

      <div class="form-group">
        <label for="name">Brand Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          required
          [(ngModel)]="tutorial.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="description">Brand Website</label>
        <input
          class="form-control"
          id="website"
          required
          [(ngModel)]="tutorial.website"
          name="website"
        />
      </div>

    <button (click)="saveTutorial()" class="btn btn-success" style="margin-left: 120px;" [disabled]="!tutorial.name">Submit</button>
    <button (click)="onNoClick()" class="btn btn-error" style="float: right;">Close</button>

    </div>

  </div>
</div>