
  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title" style="padding-left: 15px; color: white !important;">Voucher Table</h4>
            <mat-icon (click)="openDialog()" style="margin-left: 15px;">add</mat-icon>
            <div class="col-md-6 mb-4" style="float: right;">
  
              <form class="example-form" style="float: right;">
                <mat-form-field class="example-full-width" >
                  <mat-label style="color: white;">Search By ID</mat-label>
                  <input type="tel" matInput placeholder="Velvet Coat" style="color: white;" [(ngModel)]="title" name="title" >
              <mat-icon matSuffix (click)="searchTitle()">search</mat-icon>
                </mat-form-field>
              </form>
              
           </div>
  
          <div class=" card-body">
            <div class=" table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="promotionId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotionId}} </td>
                </ng-container>
              
                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Voucher Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>
  
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
  
                <ng-container matColumnDef="percentDiscount">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Percent Discount </th>
                    <td mat-cell *matCellDef="let element"> {{element.percentDiscount}} </td>
                </ng-container>

                <ng-container matColumnDef="minRequiredAmount">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Required Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.minRequiredAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="maxDiscountAmount">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Discount Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.maxDiscountAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="available">
                  <th mat-header-cell *matHeaderCellDef class="x"> Voucher Available </th>
                    <td mat-cell *matCellDef="let element"> {{element.available}} </td>
                </ng-container>

                <ng-container matColumnDef="beginDate">
                  <th mat-header-cell *matHeaderCellDef class="x"> Begin Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.beginDate}} </td>
                </ng-container>

                <ng-container matColumnDef="expiredDate">
                  <th mat-header-cell *matHeaderCellDef class="x"> Expired Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.expiredDate}} </td>
                </ng-container>
              
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="x"> Edit </th>
                  <td mat-cell *matCellDef="let element" class="x">
                    <mat-icon (click)="editUser(element)">edit</mat-icon>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef class="x"> Delete </th>
                  <td mat-cell *matCellDef="let element" class="x">
                    <mat-icon (click)="deleteTutorial(element)">delete</mat-icon>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              </table> 
  
            </div>
          </div>
         
      </div>
    </div>
  </div>
  
  
  
  
  
  